* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-se,3rif; /* Шрифт Arial или аналогичный без засечек */
  background-color: black; /* Бежевый фон */
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin-bottom: 50px;
}

h2{
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 30px;
}
label,p{
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 16px;
}
.wrap-logo {
  display: flex;
  align-items: center;
}

header a {
  color: whitesmoke; 
  font-family: Arial, sans-serif; 
  font-size: 36px;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: rgb(255, 196, 0);
  transition: background 1s ease;
}

header a.active {
  background-color: red; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

a {
  color: #0f0ff6;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.password{
  color: gray;
  font-size: 14px;
}

p {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2px solid #0a1a75; /* Серый */
  outline: none;
}

button {
  padding: 10px;
  background: rgb(22, 22, 179); /* Темно-зеленый */
  color: whitesmoke;
  font-size: 24px;
  border-radius: 30px;
  border: unset;
  cursor: pointer;
  transition: background-color 1s ease;

}
button:hover{
  background-color: #0a1a75;
  transition: background-color 1s ease;
}
.error {
  border-bottom: 2px solid #8b0000; /* Темно-красный для ошибок */
}

.msg {
  border: 2px solid #ffd700; /* Желтый */
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.none {
  display: none;
}

.logout {
  color: #e6ccb2;
  font-family: sans-serif;
  font-size: 24px;
  background-color: #0a13bf;
  width: 120px;
  height: 30px;
  margin: 10px;
  border-radius: 30px;
  text-align: center;
}

.navigation-post {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation-post__list {
  max-width: 300px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-post__item {
  margin-left: 1rem;
}

.navigation-post__item > .active {
  padding: 15px;
  background-color: #0a13bf; /* Темно-зеленый */
  border-radius: 20px;
  color: #fff; /* Белый */
}

.message__label {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__textarea {
  margin: 1rem 0rem;
  border: 3px solid #166262; /* Темно-серый */
  border-radius: 1rem;
}

.message__bth {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1343a2; /* Темно-синий */
  color: white;
  font-size: 1.3rem;
}

.message__bth:hover {
  background-color: #00008b; /* Темно-синий при наведении */
}

.message__bth:focus {
  background-color: #00008b; /* Темно-синий при фокусировке */
}

.news-line {
  max-width: 1000px;
  width: 100%;
}

.news-line__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.news-line__item {
  background-color: #2415a9; /* Темно-зеленый */
  color: white;
  max-width: 300px;
  margin: 20px 20px;
  padding: 1rem;
  border-radius: 1rem;
}

.news-line__message {
  font-size: 1.3rem;
  font-weight: bold;
}


