
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
header{
    display:flex; 
    flex-direction:column;
    box-sizing:border-box; 
    margin:0;
    font-size:18px;
    font-family: sans-serif;
}
.wrapper {
    margin-top: 100px;
    background-color: burlywood;
    height: 500px;
    width: 400px;
    padding: 20px;
    border-radius: 40px;
    border: 10px solid black;
}
.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 370px;
    gap: 20px;
    margin: 30px auto;
}
.result {
    font-family: sans-serif;
    background-color: greenyellow;
    display: inline-block;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    padding: 0 2px;
    border: solid 1px purple;
}
.input{
    background-color: black;
    display: inline-block;
    width: 350px;
    height: 45px;
    font-size: 32px;
    color: whitesmoke;
    border-radius: 15px;
    border: solid 1px purple;
}
.clear{
    background-color: rgb(255, 94, 0);
    border: solid 1px black;
    height: 50px;
    font-size: 30px;
    width: 80px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.pins{
    background-color: rgb(195, 195, 239);
    border: solid 1px black;
    width: 60px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 20px;

    transition: background-color 0.2s linear;
    cursor: pointer;
}

.eval{
    background-color: rgb(228, 22, 22);
    border: solid 1px black;
    height: 60px;
    width:315px;
    font-weight: 700;
    font-size: 40px;
    color: rgba(0, 128, 0, 0.61);
    transition: background-color 0.2s linear;
    border-radius: 20px;
    cursor: pointer;
}
