*{
    box-sizing: border-box;
    max-width: 50px;
  }
  .wrapper {
      max-width: 200px;
      width: 80%;
      margin: 2rem auto;
      padding: 0 8px;
    }
  button {
    grid-column: span 2;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 15px);
    grid-template-rows: repeat(7, 15px);
  }
  .gridArea{
    grid-column: span 1;
  }
  #output {
    grid-column: span 6;
  }
  